################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/slnx.sqlite
/SashaPassGen/.vs/SashaPassGen/v16/Server/sqlite3/storage.ide-wal
/SashaPassGen/.vs/SashaPassGen/v16/Server/sqlite3/storage.ide-shm
/SashaPassGen/.vs/SashaPassGen/v16/Server/sqlite3/storage.ide
/SashaPassGen/.vs/SashaPassGen/v16/Server/sqlite3/db.lock
